* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ol,
ul,
li {
    list-style: none;
}

html, body, .container {
    height: 100%;
}

body {
    font: 300 13px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;
    background-color: #fff;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
}

h1, h2, h3, h4, h5, h6, strong {
    font-weight: 700;
}

a {
    text-decoration: none;
    color: #333;
}

.container {
    position: relative;
}

/************************************/

#navigation {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: #16a085;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: all .23s ease-out;
}

#navigation ul li {
    color: rgb(1, 90, 73);
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    border-top: 1px solid #16a98d;
    border-bottom: 1px solid #15977d;
}

#body {
    position: relative;
    z-index: 2;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 0 60px rgba(0, 0, 0, .5);
    -webkit-transition: all .23s ease-out;
}

#body.drag {
    -webkit-transition: all 0s linear !important;
}

#header {
    z-index: 2;
    position: relative;
    height: 50px;
    background-color: #27ae60;
    box-shadow: 0 3px 0 rgba(0, 0, 0, .02);
}

#header h1 {
    height: 50px;
    line-height: 50px;
    font-size: 25px;
    color: #fff;
    text-align: center;
}

#content {
    padding: 15px;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 50px;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}